# --- Airflow ---
apache-airflow==3.1.5

# --- HTTP & Web scraping ---
requests==2.32.5
beautifulsoup4==4.14.2

# --- Data processing ---
pandas==2.2.3
pyarrow==22.0.0
duckdb==1.4.3
duckdb_engine==0.17.0

# --- Data quality ---
great-expectations==1.10.0

# --- DBT Orchestration ---
astronomer-cosmos==1.12.0